<h1>Receipts#edit</h1>
<p>Find me in app/views/receipts/edit.html.erb</p>

<div class="container">
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@receipt.errors.count, "error") %>.
      </div>
      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form_with(model: @receipt, local: true) do |f| %>
      <div class="col-sm-3 mb-3">
        <%= f.label :total_price, class: "form-label" %>
        <%= f.number_field :total_price, class: "form-control text-end", readonly: true %>
      </div>
      <%= f.label :receipt_details, class: "form-label" %>
      <div class="mb-3" id="details">
        <%= f.fields_for :receipt_details do |df| %>
          <%= render "receipt_detail_fields", f: df %>
        <% end %>
      </div>
      <div>
        <%= link_to_add_association "<i class='bi bi-plus'></i> 追加".html_safe, f, :receipt_details, class: "btn btn-sm btn-secondary",
          data: { association_insertion_node: '#details', association_insertion_method: 'append' } %>
      </div>

      <div class="text-center">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    sum();
    addEvent($("#details"));
    
    $("#details")
    .on("cocoon:after-insert", function(e, insertedItem) {
      addEvent(insertedItem);
    })
    .on("cocoon:after-remove", function() {
      sum();
    });

    function addEvent(obj) {
      $(obj).find("input").change(function(){
        sum();
      });
    };
    function sum() {
      let total = 0;
      $("#details .row").each(function(index, row){
        const price = $(row).find("input[id$='price']").val();
        const quantity = $(row).find("input[id$='quantity']").val();
        const isDestroy = $(row).find("input[id$='_destroy']").val() != "false";
        if (price && quantity && !isDestroy) {
          total += price * quantity;
        }
      });
      $("#receipt_total_price").val(total);
    }
  });
</script>