<h1>Receipts#index</h1>
<p>Find me in app/views/receipts/index.html.erb</p>

<div class="container">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th>#</th>
        <th>Date</th>
        <th>Items</th>
        <th>Total Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @receipts.each do |receipt| %>
      <tr>
        <td class="text-center"><%= receipt.id %></td>
        <td class="text-center"><%= receipt.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td class="text-end"><%= receipt.receipt_details.count %></td>
        <td class="text-end"><%= receipt.total_price.to_s(:delimited) %></td>
        <td class="text-center">
          <%= link_to edit_receipt_path(receipt.id), class:"btn btn-sm btn-warning" do %>
            <i class="bi bi-pencil-square"></i>
          <% end %>
          <%= link_to receipt_path(receipt.id), method: :delete, class:"btn btn-sm btn-danger", data: { confirm: 'Are you sure?' } do %>
            <i class="bi bi-x-square"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col">
      <%= will_paginate @receipts, previous_label: '&lt; Prev', next_label: 'Next &gt;' %>
    </div>
    <div class="col-sm-2">
      <%= link_to new_receipt_path, class: "btn btn-success" do %>
        <i class="bi bi-receipt-cutoff"></i> add receipt
      <% end %>
    </div>
  </div>
</div>