<h1>Receipts#new</h1>
<p>Find me in app/views/receipts/new.html.erb</p>

<div class="container">
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@receipt.errors.count, "error") %>.
      </div>
      <ul>
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form_with(model: @receipt, local: true) do |f| %>
      <div class="mb-3">
        <%= f.label :total_price, class: "form-label" %>
        <%= f.number_field :total_price, class: "form-control text-end" %>
      </div>
      <%= f.label :receipt_details, class: "form-label" %>
      <div class="mb-3" id="detail-association-insertion-point">
        <%= f.fields_for :receipt_details do |df| %>
          <%= render "receipt_detail_fields", f: df %>
        <% end %>
      </div>
      <div>
        <%= link_to_add_association "<i class='bi bi-plus'></i> 追加".html_safe, f, :receipt_details, class: "btn btn-sm btn-secondary",
          data: { association_insertion_node: '#detail-association-insertion-point', association_insertion_method: 'append' } %>
      </div>

      <div class="text-center">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
